.categoryList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  align-items: center;
}

.back{
  font-size: 2rem;
  display: flex;
  transition: 0.4s;

  &:hover{
    transform: scaleY(1.1);
    transform: scaleX(1.01);
  }

  &--text{
    font-size: 1rem;
    display: flex;
    align-items: center;
  }
}

.title__description{
  margin-top: 1rem;
  // margin-right: .5rem;
  // margin-left: .5rem;
  font-size: 1rem;
  
  @media screen and (max-width: 700px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 470px) {
    font-size: .8rem;
  }
  @media screen and (max-width: 370px) {
    font-size: .5rem;
  }
  @media screen and (max-width: 250px) {
    font-size: .4rem;
  }
  }

  #linkCards{
    width: 30rem;
    height: 20rem;

    @media screen and (max-width: 700px) {
      width: 25rem;
      height: 15rem;
    }
    @media screen and (max-width: 470px) {
      width: 20rem;
      height: auto;
    }
    @media screen and (max-width: 370px) {
      width: 18rem;
      height: auto;
    }
    @media screen and (max-width: 250px) {
      width: 15rem;
      height: auto;
    }
  }
