.categoryList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  align-items: center;
}

.back{
  font-size: 2rem;
  display: flex;
  transition: 0.4s;

  &:hover{
    transform: scaleY(1.1);
    transform: scaleX(1.01);
  }

  &--text{
    font-size: 1rem;
    display: flex;
    align-items: center;
  }
}
