.footer {
  width: 100%;
  height: 20%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  padding-bottom: 4rem;
  background-color: #3586ff;
  background-color: linear-gradient(92deg, #f35626, #feab3a);
  animation: hue 10s infinite linear;

  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;

    & > li {
      font-size: 2.5rem;
      padding: 2rem;
      transition: 0.5s;
      color: #fff;

      &:hover {
        transform: scale(1.5);
      }
    }
  }

  &__link {
    color: #fff;
  }

  &__rights {
    font-size: 1.2em;
    color: #fff;
  }
}

.wave {
  position: absolute;
  z-index: -1;
  top: -90px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('../../assets/wave.png');
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 7s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.9;
  bottom: 10px;
  animation: animateWave_02 7s linear infinite;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 4s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 4s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
